.servings_Input
{
    background-color: rgb(227, 219, 208);
    color: rgb(2, 2, 2);
    border: solid black;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    margin: 10px;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 5%;
}

.create_New_Item_Button
{
    background-color: rgb(57,35,1);
    color: white;
    border: solid black;

    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    border-radius: 5px;
    width: 20%;
}

.grocery_List
{
    color: rgb(2, 2, 2);
    border: solid black;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    overflow-y: scroll;
    display: inline-block;
    height: 500px;
    width: 30%;
    
}

.grocery_Header
{
    color: rgb(2, 2, 2);
    border: dotted black;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    display: block;
}

.grocery_Database
{
    color: rgb(2, 2, 2);
    border: dotted black;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    padding: 10px 20px;

}

.user_cart
{
    color: rgb(2, 2, 2);
    border: solid black;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    overflow-y: scroll;
    display: inline-block;
    height: 500px;
    width: 30%;
}

.cart_Header
{
    color: rgb(2, 2, 2);
    border: dotted black;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    display: block;
}

.btn-primary 
{
    margin: 10px;   
}
